:root {
  --gold-color: #c3a71d;
  --gray-color: #747474;
  --dark-color: #1e1e1e;
}

.footer-container {
  background-color: var(--dark-color);
  color: white;
  padding: 1.5rem 2rem 0.5rem;
  bottom: 0;
  width: 100%;
  gap: 1rem;
}
.gramophone {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 3;
  justify-content: space-between;
  /* background-color: aqua; */
}
.gramophone h3 {
  color: var(--gold-color);
  text-transform: uppercase;
  font-weight: 500;
}
.social-links {
  display: flex;
  gap: 10px;
}
.social-links img {
  height: 1.5rem;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

@media screen and (max-width: 37.5em) {
  .copyright {
    margin-top: 2rem;
  }
}
